
<div>

    Dados Atualizados

    <% @bi_map.each do |primeiro| %>
        <tr><%= primeiro %></tr>
    <% end %>

    <footer>
        <p>GTI - © 2016 Secretaria de Estado da Saúde – ES.</p>
    </footer>
</div>
<!-- /container -->
