
<div>

    Email enviado na production
    <div>
        <%= bar_chart @chart %>
    </div>

    <footer>
        <p>GTI - © 2016 Secretaria de Estado da Saúde – ES.</p>
    </footer>
</div>
<!-- /container -->
