<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag  "emails", :media => "all" %>
  </head>
  <body>
    <div class="container">
    <h2>Olá <%= @user.name %>,</h2>
    <p>Você foi designado como fiscal para o <strong>Contrato Número 4444/2016</strong>, com vigência de <strong>dd/mm/aaaa á dd/mm/aaaa </strong>por favor tome ciência clicando no botão abaixo</p>
    <button type="button" class="btn btn-info btn-email">Tomar Ciência</button>
  </br>
    <p>Por favor não responda essa mensagem. Esse é um e-mail automático do Sistema de Contratos da SESA!
       Para saber mais basta entrar em contato com o setor de contratos NECC por email (contratos@saude.es.gov.br) ou pelo telefone (27) 3333-3333  </p>
     </div>
  </body>
</html>
